@charset "UTF-8";
@font-face {
    font-family: 'Bebas Neue';
    src: url('fontes/bebas_neue/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IDroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #9AFDAC;
}
header{
    height: 150px;
    margin: 0%;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
    background-image: linear-gradient(#4EFC6E, #4C7D55) ;
}

header > p {
    margin: 0%;
}
header > h1 {
    font-family: 'Bebas Neue';
}
main {
    margin: 0px 100px 0px 100px;
    background-color: white;
    padding: 10px;
}
article > h2{
    color: #2b883c;
    font-family: 'IDroid';
    text-align: left;
}
.idroid {
    color: #2b883c;
    font-family: 'IDroid';
    background-image: linear-gradient(to right, #9AFDAC , white);
    text-align: left;
}

nav > ul{
    background-color: #4C7D55;
    display: flex;
    list-style: none;
    gap: 0.5rem;
    margin: 0%;
}

a{
    text-decoration: none;
    color: white;
    
}

div.video{
    position: relative;
    background-color: green;
    height: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    padding-bottom: 59%;

}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside > ul{
    text-align: left;
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}
@media (max-width: 400px){
    main {
        margin: auto;
        background-color: white;
    }
    
    nav > ul{
        background-color: #4C7D55;
        display: flex;
        list-style: none;
        gap: 0.5rem;
    }
    
    a{
        text-decoration: none;
        color: white;
        
    }
    
    div.video{
        position: relative;
        background-color: green;
        height: 0px;
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: 15px;
        padding-bottom: 59%;
    
    }
    
    div.video > iframe {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
    
}
}